body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:auto; /*scrollable*/ 
   /* background-image: url('backg7.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
}
overlay{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
 
/* Header styles */
header {
    background-color: #191a49;
    color: white;
    padding:10px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}
 
.logo {
    float:left;
    max-width: 50px;
    height: auto;
    mix-blend-mode:screen;
    opacity:0.8;
    z-index: 2;
}
 
/* Navigation styles */
nav {
    background-color: #64698d;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
 
nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
nav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Main content styles */
.content {
    padding: 2em;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 2em;
    mix-blend-mode:screen;
    color:#64698d;
    font-size: larger;

}
.content p{
    color: #ffff;
}
 
 
.content h1,h2,h3{
    text-align:center;
    color: #ccc; 
}
 
.content p {
    line-height: 1.6;
    color:#ddd;
    text-align:justify;


}
.content id{
    color:#64698d;
    

}
 
/* Contact form styles */
form {
    max-width: 600px;
    margin: auto;
}
 
form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}
 
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}
 
form textarea {
    height: 150px;
}
 
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}
 
form input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}
 
/* Contact information styles */
.contact-info {
    margin-top: 10px;

}
 
.contact-info p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-info h3{
    text-align: left;
}
/* Footer styles */
footer {
    background-color: #191a49;
    color: white;
    text-align: center;
    padding:auto;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
}